.page-header {
background: #f7f7f7;
margin-bottom:  1.6rem;
padding: 1.6rem 0;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 700;
    }
}
.page-header__actions {
    margin-top: 1.6rem;
 }